### EDA For Companies in Russia Data Set

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

In [2]:
country_data = pd.read_csv('../data/companies.csv')
country_data.head()

,Name,Action,Industry,Country,Grade
0,Agrana,continue operating plant in Russia,Consumer Staples,Austria,F
1,Agricultural Bank of China,Russian companies open accounts with the bank;...,Financials,China,F
2,Air China,still flying to Russia,Industrials,China,F
3,Air Serbia,still flying to Russia,Industrials,Serbia,F
4,Alibaba,still operating in Russia,Consumer Discretionary,China,F

In [3]:
country_data.describe()

          Name                     Action     Industry        Country Grade
count     1581                       1581         1581           1581  1581
unique    1581                       1128           12             67     5
top     Agrana  still operating in Russia  Industrials  United States     A
freq         1                         53          403            457   521

In [7]:
grade_a = country_data.groupby("Industry")['Grade']

# grade_a_pd = grade_a.head(10).sort_values(by = 'Grade', ascending=False)

0      F
1      F
2      F
3      F
4      F
5      F
6      F
7      F
8      F
9      F
10     F
11     F
12     F
13     F
14     F
15     F
16     F
17     F
20     F
21     F
23     F
25     F
26     F
27     F
32     F
33     F
34     F
36     F
37     F
38     F
39     F
40     F
45     F
50     F
51     F
52     F
55     F
56     F
62     F
73     F
75     F
78     F
84     F
98     F
110    F
127    F
129    F
161    F
194    F
204    F
217    F
218    F
280    D
281    D
282    D
317    D
356    D
484    C
608    B
609    B
Name: Grade, dtype: object